/* corpo da pagina*/
body{
	font-family: 'Manrope', sans-serif!important;
	background: #F6F6F6;
}
p{
	font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}



/* corpo da pagina*/

/* navbar superior*/
.navbar {
    position: relative;
    width: 100%;
    background-color: #fff;
    border: 5px;
    border-color: black;
    font-size: 20px !important;
    line-height: 1.42857143 !important;  
    border-radius: 0;
    
}

#myInp {
    position: absolute;
    left: 78%;
}
.color_title{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color:#7B7C86;
    padding-bottom: 10px;
}

/* fim navbar superior*/

/* The subnavigation menu */
.subnav {

  float: right;
  margin-left: 15px;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 19px;
  border: none;
  outline: none;
  color: #7B7C86;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-image: linear-gradient(to right, #fd5c63 0%, #4323d2 100%);
  width: 100%;
  z-index: 1;
  padding: 10px ;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  margin-right: 15px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* status do projeto */
.img2 { 
   position: absolute; 
   top: -45px; 
   left: 75px; 
   width: 100%; 
}

.img2 span { 
   color: #000000; 
   font-family: 'Red Hat Text', sans-serif;
   font-size: 20px;
   } 

.image { 

 position: relative; 
   top: -30px; 
   left: 30px; 
   
}

/* estilo barra de pesquisa */
  input[type=text] {
    position: relative;
    left: 67%;
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(images/searchicon.png);
    background-size: 20px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
  }

/* area que o search expande */
input[type=text]:focus {
  width: 10%;

}

/* botão pesquisar */
button, input {
    overflow: visible;
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}

/* estilo barra de pesquisa */
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

#subir{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    border-radius: 5px;
    height: 50px;
    background-color: #c9c9c9;
    text-decoration: none;
}

#subir::after {
    content: "↑";
    font-size: 35px;
    font-weight: bold;
    color: rgb(54, 44, 44);
    transition: margin-top 250ms;
}

/* .divID{
    text-align: center;
} */

.cards_total{
    position: relative;
}

.card{
    width: 32%;
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(49, 49, 49, 0.5);
    margin-left: 0.5%;
    margin-right: 0.1%;
    margin-top: 1%;
    border-radius: 15px;
} 

.card_button {
  position: relative;
  width: 50%;
  left: 20%;
    border-style: none;
    background-color: #004C6D;
    border-radius: 5px;
    color: #FFFFFF;
}
.card_button:hover{
    background-color: #0994cf;
    
}
.space{
    position: relative;
    width: 100%;
    margin-left: 1%;
    padding-left: 16px;
    padding-right: 14px;
    background-color: #f6f6f6;
}
.titulo_card{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: normal;
}

.card_tit_descr{
    background: #D1EFFF;;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;

}
.card_descrição{
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 5px 5px 5px 5px;
    margin: 5px 6px 6px 10px;
    padding: 7px 6px 0px 6px;
    font-size: 13px;
}
.linha{
    border-bottom: solid 1px #ccc;
}
.div_box{
    position: relative;
    text-align: center;
    width: 100%;
        border: 1px none;
        margin: 6px 63px 10px 10px;
        background-color: rgb(255, 255, 255);
}

.logoOff{
  background-color: #004C6D ;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  left: 92%;
  top: 32%;
  color: white;
  border: #ffffff;
  width: 80px;
  height: 27px;
}

.logoOff:hover{
  cursor: pointer;
  background-color:#0994cf;
}