/* corpo da pagina*/
body{
	font-family: 'Manrope', sans-serif!important;
	background: #F6F6F6;
}
p{
	font-family: 'Manrope', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #000000;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}



/* corpo da pagina*/

/* navbar superior*/
.navbar {
    
    background-color: #fff;
    border: 5px;
    border-color: black;
    font-size: 20px !important;
    line-height: 1.42857143 !important;  
    border-radius: 0;
}

/* style dos submenus superior */
.nav-link {
    display: block;
    /*padding: ;*/
    position: absolute;
    top: 15px;
    left: 295px;
    width: 20px;
    text-align: right;
    font-family: Red Hat Text, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    
}

/* cor da fonte do submenu*/
.navbar-light .navbar-nav .nav-link {
    color: #004C6D;
}
/*
.navbar li a, .navbar .navbar-brand {
     color: #fff !important; 
}
*/
/* cor quando passa o mouse por cima das opções */
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #3E6885 !important;
    background-color: #fff !important;

}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbar>.container, .navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #F6F6F6;
}



/* fim navbar superior*/

/* Side Bar lateral*/


#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #DFE6EC;
	color: #000000;
	transition: all 0.3s;

}


#sidebar ul.components{
	padding: 20px 0;
	
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 16px;
    display: block;
    margin-left: 20px;
    font-family: manrope, sans-serif;
    font-style: normal;
}

#sidebar ul li a:hover{
	color: #0F56B3;
	background: #C9D8E4;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #000000;
	background: #DFE6EC;
}

a[data-toggle="collapse"]{
	position: relative;
}


/* Função submenu*/
.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}

/* quando passa o mouse por cima da opção projetos */
#sidebar ul li a:hover {
  color: #0F56B3;
  background: #C9D8E4;
}


ul ul a{
	font-size: 15px;
	padding-left: 30px !important;
	background: #DFE6EC;
}


/* Submenu*/

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}


/* fim Side Bar lateral*/

/* botão sidebar */
.bg-light {
    background-color: #F6F6F6!important;
}


.btn-info {
    color: #fff;
    background-color: #3E6885;
    border-color: #3E6885;
}
/* botão sidebar */



/* nome do projeto */

.h2 { 
   position: absolute; 
   top: 27px; 
   left: 130px; 
   width: 100%; 
}

.h2 span { 
   color: #000000; 
   font-family: 'Red Hat Text', sans-serif;
   letter-spacing: -2px;  
}

/* fim nome do projeto */


/* status do projeto */
.img2 { 
   position: absolute; 
   top: -45px; 
   left: 115px; 
   width: 100%; 
}

.img2 span { 
   color: #000000; 
   font-family: 'Red Hat Text', sans-serif;
   font-size: 20px;
   } 

.image { 

 position: relative; 
   top: -30px; 
   left: 70px; 
   
}

/* fim status do projeto */

/* sidebar responsiva */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

}

/* Borda dos cards people
.card{
    border-radius: 15px;
}*/
/* menu_options - Posição*/
.options {display:inline-block;
    position: relative;
    width: 18%;
    height: 50px;
    text-align: center;
    left: 4%;
    border-radius: 10px;   
  }
  
  /* menu_options - fonte*/
i {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
}

  /* menu_options - Ao passar mouse*/
  .options:hover{
      text-decoration: none;
      border-bottom:  2px solid black;
     cursor: pointer;
  }
  /* navigation - posiçao*/
  #navigation div{
    position: flex;
    /* padding: 10px;
    padding-left: 10px; */
    width: 100%;
    height: 100%;
    margin-left: 12px; 
    margin-top: 10px;
    background-color: #C9D8E4;
    display: none;
    
    align-items: center;
  }
  
  /* funcionalidade da exibição das telas navigation sem refresh*/
  #navigation input[type ="radio"]{display: none;}
  #navigation input[type ="radio"]:checked + div{
    background-color: #F6F6F6;
    display: block;
    text-align: center;
  }

  /* tamanho da caixa de texto que descreve sobre o projeto*/
  #detalhes #project p{
      width: 450px;
  }
  /* imagem juntamente aos títulos na aba de projetos*/
  #detalhes img, h1{
      display: inline-block;
  }
/* proposta de projeto e tarefas pendentes alianhadas na horizontal*/
  #detalhes .proposal, .tasks{
      display: inline-table;
  }
/* posição exata das tarefas pendentes*/
  #detalhes .tasks{
      position: relative;
      left: 30%;
  }

/* estilo barra de pesquisa */
  input[type=text] {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(images/searchicon.png);
    background-size: 20px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
  }

/* area que o search expande */
input[type=text]:focus {
  width: 20%;
}

/* botão pesquisar */
button, input {
    overflow: visible;
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}

/* estilo barra de pesquisa */
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

#subir{display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    border-radius: 5px;
    height: 50px;
    background-color: #c9c9c9;
    text-decoration: none;
}

#subir::after {
    content: "↑";
    font-size: 35px;
    font-weight: bold;
    color: rgb(54, 44, 44);
    transition: margin-top 250ms;
}

/* .divID{
    text-align: center;
} */



.color_title{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color:#7B7C86;
    padding-bottom: 10px;
}
.card{
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 28px 4px 57px 62px;
    border-radius: 15px;
} 
.card_button {
    border-style: none;
    background-color: #004C6D;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 42%;
}
.card_button:hover{
    background-color: #0994cf;
    border: 1px solid #ffffff;
    
}
.space{
    margin-left: 260px;
    
    padding-left: 16px;
    padding-right: 14px;
    background-color: #f6f6f6;
}
.titulo_card{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: normal;
}

.card_tit_descr{
    background: #D1EFFF;;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;

}
.card_descrição{
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 5px 5px 5px 5px;
    margin: 5px 6px 6px 10px;
    padding: 7px 6px 0px 6px;
    font-size: 13px;
}
.linha{
    border-bottom: solid 1px #ccc;
}
.div_box{
        border: 1px none;
        margin: 6px 63px 10px 10px;
        background-color: rgb(255, 255, 255);
}


#FOR_TEST {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to right, #fd5c63 0%, #FD1717 100%);
 
}

#IN_PROGRESS {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to left, #f39f86 0%, #f9d976 74%);
}

#QA_DEPLOYING {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to left, #f6fba2 0%, #20ded3 74%);
}

#QA_TESTING {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to right, #feeacf 0%, #f79b73 74%);
}

#RELEASE_TO_PROD {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #63a4ff;
  background-image: linear-gradient(to left, #63a4ff 0%, #83eaf1 74%);
}

#PROD_DEPLOYING {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to left, #7f53ac 0%, #647dee 74%);
}

#DONE {
  border: 1px solid black;
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-table;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to left, #3bb78f 0%, #0bab64 74%);
}